@import '../config';
@import '../functions';
@import '../mixins';

$form-overlay-config: (
    form-overlay-padding: map-get($dimensions, spacing-24),
    form-overlay-background: map-get($base-colors, background-main),
    form-overlay-z-index: map-get($z-index, overlay),
    form-overlay-background-mobile: map-get($base-colors, contrast),
);

.ace-c-form-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: map-get($form-overlay-config, form-overlay-z-index);
    width: 100%;
    height: 100%;
    background: map-get($form-overlay-config, form-overlay-background-mobile);
    overflow: scroll;
    padding: map-get($form-overlay-config, form-overlay-padding);

    @include media('>=small') {
        top: 56px;
        background: map-get($form-overlay-config, form-overlay-background);
    }

    @include media('>=medium') {
        top: 76px;
        background: map-get($form-overlay-config, form-overlay-background);
    }
}

.ace-c-form-overlay__content {
    z-index: map-get($form-overlay-config, form-overlay-z-index);
}
