@import '../config';
@import '../functions';
@import '../mixins';

$divider-config: (
    divider-background-color: map-get($base-colors, secondary-light-d)
);

.ace-c-divider {
    width: 100%;
    height: 1px;
    background-color: map-get($divider-config, divider-background-color);
    border: 0;
    box-sizing: border-box;
}
