@import '../config';
@import '../functions';
@import '../mixins';

$pill-config: (
    pill-height: map-get($spacing, spacing-xl),
    pill-height-small: map-get($spacing, spacing-l),
    pill-padding: map-get($spacing, spacing-xs) map-get($spacing, spacing-s),
    pill-border-radius: map-get($border-radius, radius-24),
    pill-background: map-get($base-colors, background-c),
    pill-background-pending: map-get($base-colors, background-c),
    pill-background-positive: map-get($base-colors, positive-light),
    pill-background-negative: map-get($base-colors, negative-light),
    pill-background-information: map-get($base-colors, primary-light-c),
    pill-text-color: map-get($typography, text-color),
    pill-text-color-pending: map-get($typography, text-color),
    pill-text-color-positive: map-get($typography, text-color-success),
    pill-text-color-negative: map-get($typography, text-color-warning),
    pill-text-color-information: map-get($typography, text-color),
);

.ace-c-pill {
    display: inline-flex;
    align-items: center;
    height: map-get($pill-config, pill-height);
    max-height: map-get($pill-config, pill-height);
    padding: map-get($pill-config, pill-padding);
    border-radius: map-get($pill-config, pill-border-radius);
    color: map-get($pill-config, pill-text-color);
    background: map-get($pill-config, pill-background);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--pending {
        color: map-get($pill-config, pill-text-color-pending);
        background: map-get($pill-config, pill-background-pending);
    }

    &--positive {
        color: map-get($pill-config, pill-text-color-positive);
        background: map-get($pill-config, pill-background-positive);
    }

    &--negative {
        color: map-get($pill-config, pill-text-color-negative);
        background: map-get($pill-config, pill-background-negative);
    }

    &--information {
        color: map-get($pill-config, pill-text-color-information);
        background: map-get($pill-config, pill-background-information);
    }

    &--small {
        height: map-get($pill-config, pill-height-small);
        max-height: map-get($pill-config, pill-height-small);
    }
}

.ace-c-pill__content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
