@use 'sass:meta';
@use '../state-styles';

@import '../config';
@import '../functions';
@import '../mixins';

$button-config: (
    button-text-typography: 'highlight',
    // button-border-radius: map-get($border-radius, radius-40),
    button-background: map-get($base-colors, background-main),
    button-background-hover: map-get($base-colors, primary-alfa-15),
    button-background-active: map-get($base-colors, primary-alfa-35),
    button-background-focus: map-get($base-colors, primary-alfa-35),
    button-background-disabled: map-get($base-colors, disabled-medium),
    button-background-selected: map-get($base-colors, background-main),
    button-background-selected-hover: map-get($base-colors, background-main),
    button-background-selected-disabled: map-get($base-colors, background-main),
    button-text-color: map-get($typography, text-color-primary),
    button-text-color-hover: map-get($typography, text-color-primary),
    button-text-color-active: map-get($typography, text-color-primary),
    button-text-color-focus: map-get($typography, text-color-primary),
    button-text-color-disabled: map-get($base-colors, disabled-dark),
    button-text-color-selected: map-get($typography, text-color-primary),
    button-text-color-selected-disabled: map-get($typography, text-color-primary),
    button-text-color-selected-hover: map-get($typography, text-color-primary),
    button-border: 2px solid map-get($base-colors, primary),
    button-border-hover: 2px solid map-get($base-colors, primary),
    button-border-active: 2px solid map-get($base-colors, primary),
    button-border-focus: 2px solid map-get($base-colors, primary),
    button-border-disabled: 2px solid map-get($base-colors, disabled-dark),
    button-border-selected: 2px solid map-get($base-colors, primary),
    button-border-selected-disabled: 2px solid map-get($base-colors, primary),
    button-border-selected-hover: 2px solid map-get($base-colors, primary),
    button-shadow: 'none',
    button-shadow-hover: 'none',
    button-shadow-active: 'none',
    button-shadow-focus: 'none',
    button-shadow-disabled: 'none',
    button-shadow-selected: 'none',
    button-shadow-selected-disabled: 'none',
    button-shadow-selected-hover: 'none',
    button-cursor: pointer,
    button-cursor-hover: pointer,
    button-cursor-selected: pointer,
    button-cursor-disabled: default,
    button-cursor-selected-disabled: pointer,
    button-cursor-active: pointer,
    button-cursor-selected-hover: pointer,
);

@include state-styles.configure('ace-c-button', $button-config);

.ace-c-button {
    @include typography($typography-styles, map-get($button-config, button-text-typography));

    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    padding: map-get($spacing, 8) map-get($spacing, 16);
    text-align: center;
    cursor: map-get($button-config, button-cursor);
    text-transform: uppercase;
    min-width: 100px;
    border: map-get($button-config, button-border);
    background: map-get($button-config, button-background);
    color: map-get($button-config, button-text-color);
    box-shadow: map-get($button-config, button-shadow);

    @include media('>=small') {
        padding: map-get($spacing, 16) map-get($spacing, 32);
    }

    &:focus {
        color: map-get($button-config, button-text-color-focus);
        background: map-get($button-config, button-background-focus);
        border: map-get($button-config, button-border-focus);
        box-shadow: map-get($button-config, button-shadow-focus);
        outline: 0;
    }

    @include state-styles.block() using($get-design-token) {
        color: meta.call($get-design-token, button-text-color);
        cursor: meta.call($get-design-token, button-cursor);
        background: meta.call($get-design-token, button-background);
        border: meta.call($get-design-token, button-border);
        box-shadow: meta.call($get-design-token, button-shadow);
    }

    &--no-chrome {
        border-radius: 0;
        border: none;
        background-color: transparent;
        padding: 0;
    }

    &--no-chrome,
    &--no-chrome#{&}--is-disabled,
    &--no-chrome#{&}:hover:not(#{&}--is-disabled) {
        border-radius: 0;
        border: none;
        background-color: transparent;
        padding: 0;
        min-width: auto;
    }
}
