@import '../config';
@import '../functions';
@import '../mixins';

$tab-bar-config: (
    tab-bar-background: map-get($base-colors, background-main),
);

.ace-c-tab-bar {
    display: inline-flex;
    background: map-get($tab-bar-config, tab-bar-background);
}
