@use 'sass:meta';
@use '../state-styles';

@import '../config';
@import '../functions';
@import '../mixins';

$text-area-config: (
    // typography
    text-area-typography: 'body',
    text-area-typography-hover: 'body',
    text-area-typography-active: 'body',
    text-area-typography-disabled: 'body',
    text-area-typography-focus: 'body',
    text-area-text: map-get($typography, text-color),
    text-area-text-disabled: map-get($typography, text-color-disabled),
    text-area-text-error: map-get($typography, text-color-warning),
    text-area-caret-color: map-get($base-colors, secondary),
    text-area-placeholder-text: map-get($typography, text-color-medium-emphasis),
    text-area-placeholder-text-hover: map-get($typography, text-color-medium-emphasis),
    text-area-placeholder-text-active: map-get($typography, text-color-medium-emphasis),
    text-area-placeholder-text-focus: map-get($typography, text-color-medium-emphasis),
    text-area-placeholder-text-error: map-get($typography, text-color-medium-emphasis),
    text-area-placeholder-text-disabled: map-get($typography, text-color-disabled),
    // dimensions
    text-area-height: 2 * 52px + map-get($dimensions, spacing-16),
    text-area-height-small: 2 * 40px + map-get($dimensions, spacing-16),
    text-area-spacing-small: map-get($dimensions, spacing-8),
    text-area-spacing-medium: map-get($dimensions, spacing-16),
    // borders
    text-area-border-color: map-get($base-colors, border-default),
    text-area-border-color-focus: map-get($base-colors, border-highlight),
    text-area-border-color-active: map-get($base-colors, border-highlight),
    text-area-border-color-disabled: map-get($base-colors, border-default),
    text-area-border-color-error: map-get($base-colors, warning),
    text-area-border-color-empty-mandatory: map-get($base-colors, secondary),
    text-area-border-radius: 0,
    // background
    text-area-background-color: map-get($base-colors, contrast),
    text-area-background-color-focus: map-get($base-colors, contrast),
    text-area-background-color-hover: map-get($base-colors, contrast),
    text-area-background-color-active: map-get($base-colors, contrast),
    text-area-background-color-error: map-get($base-colors, contrast),
    text-area-background-color-disabled: map-get($base-colors, disabled-light),
);

@include state-styles.configure('ace-c-text-area', $text-area-config);

.ace-c-text-area {
    @include typography($typography-styles, map-get($text-area-config, text-area-typography));

    display: inline;
    height: map-get($text-area-config, text-area-height);
    padding: map-get($text-area-config, text-area-spacing-small);
    border: 1px solid map-get($text-area-config, text-area-border-color);
    caret-color: map-get($text-area-config, text-area-caret-color);
    background: map-get($text-area-config, text-area-background-color);

    &--small {
        height: map-get($text-area-config, text-area-height-small);
    }

    &::-webkit-input-placeholder {
        color: map-get($text-area-config, text-area-placeholder-text);
    }

    &:focus {
        outline: none;
    }

    @include state-styles.element($for-states: (disabled),) using($get-design-token) {
        border: meta.call($get-design-token, text-area-border-color);
        background: meta.call($get-design-token, text-area-background-color);
        color: meta.call($get-design-token, text-area-text);
    }

    &--has-error {
        border: 1px solid map-get($text-area-config, text-area-border-color-error);
        color: map-get($text-area-config, text-area-text-error);
    }

    &--not-resizable {
        resize: none;
    }

    &--is-required:not(#{&}--is-disabled) {
        border: 1px solid map-get($text-area-config, text-area-border-color-empty-mandatory);
    }
}
