@use 'sass:meta';
@use '../state-styles';

@import '../config';
@import '../functions';
@import '../mixins';
@import './RadioButton.module';

$radio-tile-config: (
    // borders
    radio-tile-wrap-border: 2px solid map-get($base-colors, secondary-light-b),
    radio-tile-wrap-border-hover: 2px solid map-get($base-colors, primary),
    radio-tile-wrap-border-active: 2px solid map-get($base-colors, primary),
    radio-tile-wrap-border-selected: 2px solid map-get($base-colors, primary),
    radio-tile-wrap-border-selected-hover: 2px solid map-get($base-colors, primary),
    radio-tile-wrap-border-selected-disabled: 2px solid map-get($base-colors, primary),
    radio-tile-wrap-border-disabled: 2px solid map-get($base-colors, disabled-light),
    // backgrounds
    radio-tile-wrap-background: map-get($base-colors, white),
    radio-tile-wrap-background-hover: map-get($base-colors, white),
    radio-tile-wrap-background-active: map-get($base-colors, primary-light-b),
    radio-tile-wrap-background-selected: map-get($base-colors, primary-light-b),
    radio-tile-wrap-background-selected-hover: map-get($base-colors, primary-light-b),
    radio-tile-wrap-background-selected-disabled: map-get($base-colors, primary-light-b),
    radio-tile-wrap-background-disabled: map-get($base-colors, white),
    // icon
    radio-tile-icon: map-get($icon-colors, icon-default),
    radio-tile-icon-hover: map-get($icon-colors, icon-highlight),
    radio-tile-icon-active: map-get($icon-colors, icon-highlight),
    radio-tile-icon-selected: map-get($icon-colors, icon-highlight),
    radio-tile-icon-selected-hover: map-get($icon-colors, icon-highlight),
    radio-tile-icon-selected-disabled: map-get($icon-colors, icon-disabled),
    radio-tile-icon-disabled: map-get($icon-colors, icon-disabled),
);

@include state-styles.configure('ace-c-radio-tile', $radio-tile-config);

.ace-c-radio-tile__wrap {
    padding: 16px 8px;
    display: inline-flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    min-height: 144px;
    min-width: 144px;
    max-width: 100%;
    height: 100%;
    border: map-get($radio-tile-config, radio-tile-wrap-border);
    background-color: map-get($radio-tile-config, radio-tile-wrap-background);
    text-align: center;

    @include state-styles.element() using($get-design-token) {
        border: meta.call($get-design-token, radio-tile-wrap-border);
        background-color: meta.call($get-design-token, radio-tile-wrap-background);

        .ace-c-radio-tile__icon {
            svg {
                fill: meta.call($get-design-token, radio-tile-icon);
            }
        }
    }
}

.ace-c-radio-tile__icon {
    margin-bottom: 20px;
}
